.menu {
    border-right: 1px solid #E1E1E1;
    height: 100vh;
    width: 269px;
    position: relative;
    transition: all 1s ease-in-out;

    .rotate-180 {
        transform: rotate(180deg);
        /* Add other styles as needed */
    }

    .close-menu {
        background-color: #0096FF;

        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        // 
        position: absolute;
        top: 52px;
        // top: 50%;
        right: -16px;

        cursor: pointer;

        transition: all 0.5s ease;

        & img {
            position: relative;
            right: 1px;
        }
    }

    .menu-wrapper {
        .menu-body {
            padding: 40px;

            .logo-block {
                display: flex;
                align-items: center;
                margin-bottom: 29px;
                cursor: pointer;

                .logo-img img {
                    width: 60px;
                    height: 60px;
                }

                .logo-title {
                    color: #111;
                    font-family: Sora;
                    font-size: 16px;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.16px;

                    .crypto {
                        font-weight: 300;
                    }

                    .world {
                        font-weight: 600;
                    }
                }
            }

            .nav {
                display: flex;
                flex-direction: column;
                gap: 45px;

                .nav-section {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .nav-section-title {
                        color: #939393;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        padding: 11px 24px;
                    }

                    .nav-items {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .nav-item {
                            max-width: 176px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 13px;
                            padding: 11px 24px;
                            border-radius: 10px;



                            .nav-item-icon {
                                width: 24px;
                                height: 24px;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                            }

                            .nav-item-text {
                                color: #828282;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }

                            &:hover {
                                background: #0096FF;

                                .nav-item-text {
                                    color: #DDD; // Change the color on hover
                                }

                                .nav-item-icon {
                                    // filter: invert(100%);
                                }
                            }
                        }

                        .active {
                            background: #0096FF;

                            & img {
                                filter: invert(99%) sepia(94%) saturate(363%) hue-rotate(215deg) brightness(113%) contrast(84%);

                            }

                            .nav-item-text {
                                color: #DDD; // Change the color on hover
                            }
                        }
                    }
                }
            }
        }
    }
}

.closed-menu {
    width: 100px !important;

    .logo-block {
        justify-content: center !important;
        margin-bottom: 29px !important;
    }

    .nav-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-body {
        padding: 40px 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .nav-item {
        padding: 16px 0 !important;
        height: 46px;
        width: 46px;
        justify-content: center;
    }

    .nav-section-title {
        // padding: 0 !important;

        padding: 11px 24px;
    }
}