.search-bar {
    position: relative;
    // max-width: 545px;
    // width: 100%;

    .searchbar-body {
        // min-width: 100%;

        & input {
            border-radius: 10px;
            outline: 1px solid #E3E3E3;
            padding: 16px 18px;
            color: #111;
            width: 100%;
            transition: all 0.2s ease-in-out;

            &:focus {
                outline: 1px solid #111;
            }
        }

        .search-icon img {
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}