.content {
    display: flex;
    overflow-y: hidden;

    .left-side {
        // .menu-bg {
        //     background-color: rgba(0, 0, 0, 0.8);
        //     width: 100vw;
        //     height: 100vh;
        // }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        width: 100%;

        padding: 0 37px;

        padding-bottom: 50px;

    }
}