.dashboard {
    width: 100%;

    .dashboard-body {
        .trending-block {
            .trending-body {
                display: grid;
                gap: 26px;
                padding-bottom: 50px;
                grid-auto-flow: row;
                justify-content: space-evenly;
            }
        }
    }
}